<h1>BotFacebook</h1>
<ul>
    <form action="/" method="POST">
            <p>ID</p>
            <input type="text" name="id" required>
            <p>Password</p>
            <input type="password" name="pass" required>
            <p>ข้อความที่จะส่ง</p>
            <textarea name="data" id="" cols="30" rows="10" required></textarea>
            <br>
            <button type="submit">บอท</button>
    </form>
    
</ul>